@import url("https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700;800;900&display=swap");

.gdlr-core-shape-divider-wrap.gdlr-core-pos-bottom.gdlr-core-inverted {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  background-color: transparent;
  z-index: 9;
  /* border-bottom: 0.1px solid white; */
}

/* .gdlr-core-shape-divider-wrap .gdlr-core-pos-bottom {
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    
} */

.gdlr-core-shape-divider-wrap {
  overflow: hidden;
  line-height: 0;
  z-index: -1;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Jost", sans-serif;
  color: #ffffff;
  /* position: relative; */
}

.navbar-nav li a {
  display: inline-block;
  position: relative;
}

/* .navbar-nav li a::before{
content:"";
position: absolute;
top: 2rem;
left: 0;
bottom: 0;
width: 0;
height: 2.5px;
background-color:gainsboro;
transition: width 0.1s ease-out;
}

.navbar-nav :hover::before{
width: 100%;
}; */

.navActive {
  transition: 0.1s ease;
  border-bottom: 3px solid #fff !important;
}
.navbar-nav li a {
  border-bottom: 3px solid transparent;
}
.acordion-icons {
  position: relative;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.newest-main-wrapper{
  padding: 225px 0 80px 0;
}
.main-section-container {
  background: url("https://a6e8z9v6.stackpathcdn.com/apzo/mobileapp/wp-content/uploads/sites/7/2019/09/bg-mb-1.jpg");
  background-size: 100% 100%;
  padding: 160px 0;
}

.section-container {
  width: 87%;
  margin: 0 auto;
  padding: 0 15px;
}

/* icon title start */

.main-icon-box {
  width: 97.2%;
  margin: 0 auto;
}

.icon-box {
  padding: 0 20px;
}

.icons {
  color: #ffffff;
  cursor: pointer;
}

.icons i {
  margin-left: 19.2px;
}

.icons i:hover {
  margin-left: 19.2px;
  color: #b9b9b9;
  cursor: pointer;
}

/* icon title end */

/* navbar start */
.mainNavbarContainer {
  padding: 0 20px;
}

.logo-inner {
  padding: 16px 20px 27px 20px;
}

.navbar-write-container {
  padding: 20px 20px 0px 20px;
}

.navbar-write-container ul li {
  padding: 0 18px;
}

.navbar-write-container ul li a {
  font-size: 17px;
  font-weight: 400;
}

/* navbar end */

/* section start */

.section-container {
  width: 87%;
  margin: 0 auto;
}

.firstSection-box {
  padding: 0px 20px 30px 20px;
}
.apzosial-div{
  padding: 140px 0 0 0;
}
.section-H3 {
  font-size: 80px;
  font-weight: 700;
  margin: 0;
  padding: 0 20px 10px 20px;
  color: #ffffff;
}

.section-P1 {
  margin: 0;
  font-size: 21px;
  font-weight: 500;
  padding: 0 20px 40px 20px;
  color: #ffffff;
  font-family: "Jost", sans-serif;
}

.section-img-P {
  margin: 0;
  /* padding: 0 20px 30px 20px; */
}

.section-img-P img {
  margin: 5px 20px 20px 0;
}

/* section end */

/* Newest Section Start */
.newest-main-section {
  padding: 0 20px;
}
.newest-section {
  width: 87%;
  margin: 0 auto;
  padding: 0 20px;
}

.newest-H3 {
  font-size: 38px;
  font-weight: 700;
  color: #353535;
  padding: 0 20px 45px 20px;
  margin: 0;
}

.newestImgAndWrite {
  padding: 0 20px 35px 20px;
}

.newest-second-H3 {
  font-size: 23px;
  color: #383838;
  font-weight: 700;
}

.newest-P-box {
  padding: 0 20px 40px 20px;
}

.newest-P {
  font-size: 17px;
  color: #6f6f6f;
  margin: 0;
}
.newest-link-button-div{
  padding: 0 20px 30px 20px
}

.newest-link-button {
  font-weight: 500;
  background-color: #484ded;
  border-radius: 40px;
  border: none;
  padding: 13px 33px 19px 33px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* Newest Section End  */

/* Features Section Start */
.main-features-section {
  background: url(https://a6e8z9v6.stackpathcdn.com/apzo/mobileapp/wp-content/uploads/sites/7/2019/09/bg-mb-3-1.jpg);
  background-size: auto 100%;
  background-position-x: 50%;
  padding: 30px 0;
}

.features-section {
  width: 87%;
  margin: 0 auto;
  padding: 0 20px;
}

.features-img {
  padding: 0 20px 30px 20px;
}

.features-col-7 {
  padding-top: 90px;
}

.features-H3 {
  font-size: 38px;
  color: #353535;
  margin: 0;
  font-weight: 600;
}

.features-second-H3 {
  font-size: 23px;
  color: #353535;
}
.features-H3-div{
  padding: 0 20px 50px;
}
.features-P{
  margin-bottom: 20px;
   font-size: 17px;
  }
/* Featurs Section End  */

/* Counter Section Start */
.main-counter-section {
  padding: 10px 0;
  height: 150px;
}

.counter-section {
  width: 87%;
  margin: 0 auto;
  padding: 0 20px;
  height: 140px;
}

.counter-container {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.counter-box {
  padding: 80px 0 50px;
  background-color: #ffffff;
}

.counter-span-1 {
  font-size: 45px;
  font-weight: 700;
}

.counter-span-2 {
  font-size: 45px;
  font-weight: 700;
}

.counter-write {
  color: #3c73f0;
  font-weight: 700;
}

.counter-section-div {
  position: absolute;
  right: 155.05px;
  left: 155.05px;
  z-index: 9999;
  border-radius: 15px;
}

/* Counter Section End  */

/* down counter start */
.main-down-counter-section {
  color: #353535;
  background: url(https://a6e8z9v6.stackpathcdn.com/apzo/mobileapp/wp-content/uploads/sites/7/2019/09/bg-mb-service-3.jpg);
  background-position-x: 50%;
  background-position-y: 35%;
  padding: 320px 0 130px;
}

.down-counter-section {
  width: 87%;
  margin: 0 auto;
  padding: 0 20px;
}

.down-counter-H3 {
  font-size: 26px;
  color: #ff8585;
}

.down-counter-P {
  font-size: 18px;
  color: #ffffff;
}

/* down counter end */

/* Acordion section start */
.main-acordion-section {
  padding: 130px 0 60px;
  background: url(https://a6e8z9v6.stackpathcdn.com/apzo/mobileapp/wp-content/uploads/sites/7/2019/09/bg-mb-ac.jpg);
  background-size: cover;
}
.acordion-section-H3-div{
  padding: 0 20px 50px;
}



.acordion-section {
  width: 87%;
  margin: 0 auto;
  padding: 0 20px;
}

.acordion-section-H3 {
  font-size: 38px;
  color: #353535;
}

.accordion-button:focus {
  z-index: 3;
  /* border-color: #86b7fe; */
  outline: 0;
  box-shadow: none !important;
}

.accordion-button:not(.collapsed) {
  font-weight: 700;
  font-size: 21px;
  color: #2653e3 !important;
  background-color: #ffffff !important;
  box-shadow: none !important;
}

.accordion-button::after {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  content: "";
  background-image: none !important;
  background-repeat: no-repeat;
  background-size: 1.25rem;
  transition: transform 0.2s ease-in-out;
}

.accordion-button {
  font-weight: 700 !important;
  font-size: 21px !important;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem 1.25rem;
  font-size: 1rem;
  color: #2653e3 !important;
  text-align: left;
  background-color: #fff;
  border: 0;
  border-radius: 0;
  overflow-anchor: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    border-radius 0.15s ease;
}

/* Acordion section end */

/* updated section start */
.main-updated-section {
  padding: 50px 0 0;
}
.updated-H3-div{
  padding: 0 20px 40px;
}
.updatet-H3 {
  font-size: 38px;
  color: #353535;
  margin: 0;
  font-weight: 700;
}

.updated-P {
  color: #9d9d9d;
  font-size: 17px;
  margin: 0;
}

/* updated section end  */

/* pricing section start */
.main-pricing-section {
  padding: 140px 0 100px;
  background: url(https://a6e8z9v6.stackpathcdn.com/apzo/mobileapp/wp-content/uploads/sites/7/2019/09/bg-mb-price-1.jpg);
}

.pricing-section {
  width: 87%;
  margin: 0 auto;
  padding: 0 20px;
}

.pricing-H1 {
  font-weight: 700;
  font-size: 35px;
  color: #353535;
  margin: 0;
  font-family: "Jost", sans-serif;
}

.prising-H3 {
  font-size: 22px;
  margin: 0 0 6px;
  color: #4275dc;
}

.pricing-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.pricing-ul li {
  display: flex;
  align-items: center;
  padding: 0 0 16px;
  font-size: 18px;
  font-weight: 500;
}

.pricing-ul li i {
  margin: 5px 8px 0 0;
}

/* pricing section end  */

/* articles section start */
.main-articles-section {
  padding: 50px 0 60px;
}

.articles-section {
  width: 87%;
  margin: 0 auto;
  padding: 0 20px;
}

.aticles-H3 {
  font-size: 36px;
  color: #353535;
  margin: 0;
  font-weight: 600;
  font-family: "Jost", sans-serif;
}

.articles-P {
  color: #b9b9b9;
  font-size: 14px;
  font-weight: 600;
  font-family: "Jost", sans-serif;
  margin: 0;
}

/* articles section end  */

/* footer section start */
.main-footer-section {
  padding: 82px 0 32px;
  background-color: #212121;
}

.footer-section {
  width: 87%;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-H3 {
  font-size: 18px;
  margin: 0 0 35px;
  font-weight: 700;
  color: #ffffff;
}

.footer-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-ul li {
  margin: 0 40px 8px 0;
}

.footer-ul li a {
  text-decoration: none;
  color: #6085ea;
}

.footer-ul li a:hover {
  text-decoration: none;
  color: #ffffff;
}

/* footer section end  */

/* down footer section start */
.main-down-footer-section {
  background-color: #212121;
}

.down-section-section {
  width: 87%;
  margin: 0 auto;
  padding: 38px 20px;
}

/* --------------------------------------------- */
.mainNavbarContainer-2 {
  background-color: #1f1f1f;
  position: fixed;
  top: -300px;
  min-width: calc(100% - 350px);
  right: 0;
  left: 0;
  transition: top 0.3s;
  z-index: 99999999;
  padding: 0 20px;
}

.mainNavbarContainer-2 a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 5px;
  text-decoration: none;
}
#search-icon,
.bar-icon-1 {
  display: none !important;
}

@media (max-width: 1199.98px) {
  .section-container {
    width: 100%;
    padding: 0 20px;
  }

  .newest-section {
    width: 100%;
    padding: 0 20px;
  }

  .features-section {
    width: 100%;
    padding: 0 20px;
  }

  .down-counter-section {
    width: 100%;
    padding: 0 20px;
  }

  .acordion-section {
    width: 100%;
    padding: 0 20px;
  }

  .pricing-section {
    width: 100%;
    padding: 0 20px;
  }

  .articles-section {
    width: 100%;
    padding: 0 20px;
  }

  .footer-section {
    width: 97%;
    margin: 0 auto;
    padding: 0 20px;
  }
}

@media (max-width: 991.98px) {
  .counter-section-div {
    position: absolute;
    right: 110.05px;
    left: 110.05px;
    z-index: 9999;
    border-radius: 25px;
  }

  .counter-span-1 {
    font-size: 30px;
    font-weight: 700;
  }

  .counter-span-2 {
    font-size: 30px;
    font-weight: 700;
  }

  .counter-write {
    color: #3c73f0;
    font-weight: 700;
    font-size: 12px;
  }
  .down-counter-H3 {
    font-size: 21px;
    color: #ff8585;
  }

  .down-counter-P {
    font-size: 15px;
    color: #ffffff;
  }
  .secondNavbar-ul li {
    display: none;
  }
  .secondNavbar-div {
    display: none;
  }
  #search-icon,
  .bar-icon-1 {
    margin-right: 24px;
    display: block !important;
  }
  .navbar-write-container ul li {
    display: none;
  }
  .header-search-icon {
    display: none;
  }
  .header-container {
    opacity: 0;
  }
  .pricing-section {
    width: 60%;
    margin: 0 auto;
    padding: 0 20px;
  }
  .pricing-div {
    margin-bottom: 48px;
  }
  .features-img {
    position: absolute;
    top: -60px;
  }
  /* .main-navbar-search-icon{
    display: block !important;
} */


}
@media (max-width: 825px) {
  .features-img {
    position: absolute;
    top: -90px;
  }
}

@media (max-width: 767.98px) {
  .firstSection-box {
    display: none;
  }

  .down-counter-col-4 {
    display: none;
  }

  .newest-section {
    width: 70%;
    padding: 0 20px;
  }

  .newest-div {
    margin: 50px 0 0;
    padding: 0 0 50px;
  }

  .section-H3 {
    font-size: 40px;
    font-weight: 700;
    margin: 0;
    padding: 0 20px 10px 20px;
    color: #ffffff;
  }

  .features-section {
    width: 70%;
    padding: 0 20px;
  }

  .main-counter-section {
    padding: 10px 0;
    height: 1000px;
  }

  .uptated-section {
    width: 87%;
    margin: 0 auto;
    padding: 0 20px;
  }

  .counter-section {
    width: 70%;
    margin: 0 auto;
    padding: 0 20px;
    height: 1000px;
  }

  .counter-span-1 {
    font-size: 48px;
    font-weight: 700;
  }

  .counter-span-2 {
    font-size: 48px;
    font-weight: 700;
  }

  .counter-write {
    color: #3c73f0;
    font-weight: 700;
    font-size: 22px;
  }

  .down-counter-section {
    width: 70%;
    margin: 0 auto;
  }

  .acordion-section {
    width: 70%;
    margin: 0 auto;
    padding: 0 20px;
  }

  .pricing-section {
    width: 70%;
    margin: 0 auto;
    padding: 0 20px;
  }

  .articles-section {
    width: 50%;
    margin: 0 auto;
    padding: 0 20px;
  }

  .pricing-div {
    margin-bottom: 48px;
  }

  .footer-section {
    width: 70%;
    margin: 0 auto;
    padding: 0 20px;
  }
  .down-counter-H3 {
    font-size: 20px;
    color: #ff8585;
  }

  .down-counter-P {
    font-size: 14px;
    color: #ffffff;
  }
  .mainNavbarContainer-2 {
    background-color: #1f1f1f;
    position: fixed;
    top: -300px;
    min-width: calc(100% - 280px) !important;
    right: 0;
    left: 0;
    transition: top 0.3s;
    z-index: 99999999;
  }
  .main-scroll-navbar {
    padding: 54px 20px 0;
    position: fixed;
    top: 0px;
    right: 0px;
    height: 100vh;
    z-index: 999999;
    background-color: #1f1f1f;
    display: none;
    width: 280px !important;
  }
}
@media (max-width: 575.98px) {
  .mainNavbarContainer-2 {
    background-color: #1f1f1f;
    position: fixed;
    top: -300px;
    min-width: calc(100% - 220px) !important;
    right: 0;
    left: 0;
    transition: top 0.3s;
    z-index: 99999999;
  }
  .main-scroll-navbar {
    padding: 54px 20px 0;
    position: fixed;
    top: 0px;
    right: 0px;
    height: 100vh;
    z-index: 999999;
    background-color: #1f1f1f;
    display: none;
    width: 220px !important;
  }
  .apzosial-div{
    padding: 80px 0 0 0;
  }
.main-pricing-section {
  padding: 60px 0  20px 0;
}
  .newest-main-wrapper{
    padding: 50px 0 20px 0;
  }
  .newest-section {
    width: 87%;
    padding: 0 20px;
  }

  .newest-div {
    margin:  0;
    padding: 0 0 30px;
  }
  .newestImgAndWrite {
    padding: 0 14px 28px 14px;
  }
  .newest-H3 {
    font-size: 24px;
    font-weight: 700;
    color: #353535;
    padding: 0 14px 28px 14px;
    margin: 0;
  }
  .newest-second-H3 {
    font-size: 20px;
    color: #383838;
    font-weight: 700;
  }
  .newest-P {
    font-size: 14px;
    color: #6f6f6f;
    margin: 0;
  }
  .newest-link-button-div{
    padding: 0 8px 18px 8px;
  }
  .newest-link-button {
    font-weight: 500;
    background-color: #484ded;
    border-radius: 40px;
    border: none;
    padding: 10px 26px 15px 26px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .section-H3 {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    padding: 0 14px 28px 14px;
    color: #ffffff;
  }
  .section-P1 {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    padding: 0 14px 28px 14px;
    color: #ffffff;
    font-family: "Jost", sans-serif;
  }

  .features-section {
    width: 87%;
    padding: 0 20px;
  }
  .features-col-7 {
    padding-top: 32px;
  }

  .features-H3 {
    font-size: 24px;
    color: #353535;
    margin: 0;
    font-weight: 700;
  }
  .features-H3-div{
    padding: 0 12px 24px;
  }

  .features-second-H3 {
    font-size: 20px;
    color: #353535;
  }
  .features-P{
    margin-bottom: 20px;
     font-size: 14px;
    }
  .main-counter-section {
    padding: 10px 0;
    height: 1000px;
  }

  .uptated-section {
    width: 87%;
    margin: 0 auto;
    padding: 0 20px;
  }


  .counter-section-div {
    position: absolute;
    right: 65.05px;
    left: 65.05px;
    z-index: 9999;
    border-radius: 15px;
  }
  .counter-section {
    width: 87%;
    margin: 0 auto;
    padding: 0 20px;
    height: 1000px;
  }

  .counter-span-1 {
    font-size: 38px;
    font-weight: 700;
  }

  .counter-span-2 {
    font-size: 38px;
    font-weight: 700;
  }

  .counter-write {
    color: #3c73f0;
    font-weight: 700;
    font-size: 18px;
  }
  .main-down-counter-section {
    padding: 160px 0 30px;
  }
  
  .down-counter-section {
    width: 87%;
    margin: 0 auto;
  }
.main-acordion-section {
  padding: 50px 0 20px;
}
  .acordion-section {
    width: 87%;
    margin: 0 auto;
    padding: 0 20px;
  }
  .acordion-section-H3 {
    font-size: 24px;
    color: #353535;
  }
  .acordion-section-H3-div{
    padding: 0 8px 16px;
  }
  .accordion-button:focus {
    z-index: 3;
    /* border-color: #86b7fe; */
    outline: 0;
    box-shadow: none !important;
  }
  
  .accordion-button:not(.collapsed) {
    font-weight: 700;
    font-size: 20px;
    color: #2653e3 !important;
    background-color: #ffffff !important;
    box-shadow: none !important;
  }

  .accordion-body{
    font-size: 14px !important;
  }
  .accordion-button {
    font-weight: 700 !important;
    font-size: 14px !important;
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 1.25rem;
    font-size: 1rem;
    color: #2653e3 !important;
    text-align: left;
    background-color: #fff;
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
      border-radius 0.15s ease;
  }



  .pricing-section {
    width: 87%;
    margin: 0 auto;
    padding: 0 20px;
  }

  .articles-section {
    width: 87%;
    margin: 0 auto;
    padding: 0 20px;
  }

  .pricing-div {
    margin-bottom: 48px;
  }

  .footer-section {
    width: 70%;
    margin: 0 auto;
    padding: 0 20px;
  }
  .down-counter-H3 {
    font-size: 20px;
    color: #ff8585;
  }

  .down-counter-P {
    font-size: 14px;
    color: #ffffff;
  }
.updated-H3-div{
  padding: 0 12px 24px;
  }
.updatet-H3 {
  font-size: 24px;
  color: #353535;
  margin: 0;
  font-weight: 700;
}

.updated-P {
  color: #9d9d9d;
  font-size: 14px;
  margin: 0;
}
.main-section-container {
  padding: 60px 0;
}




}

/* modal yap覺m覺z覺n css kodlar覺 */

/* scroll navbar start */
.main-scroll-navbar {
  padding: 54px 20px 0;
  position: fixed;
  top: 0px;
  right: 0px;
  height: 100vh;
  z-index: 999999;
  background-color: #1f1f1f;
  display: none;
  width: 350px;
}

.scroll-navbar-ul {
  list-style-type: none;
  padding: 32px 16px;
  margin: 0;
}

.scroll-navbar-ul li {
  padding: 17px 0;
  border-bottom: 0.01px solid rgb(204, 204, 204);
}

.scroll-navbar-ul li a {
  text-decoration: none;
  color: #979797;
  font-weight: 700;
  font-size: 12px;
  font-family: "Jost", sans-serif;
}
.wrapper-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #1f1f1fc0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: none;
}





.main-search-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1f1f1fc0;
  display: none;
  z-index: 99999999;
  padding: 0 30px;
}
.search-section{
    width: 87%;
    margin: 0 auto;
}
.search-input{
    
    width: 86%;
    padding:0 0px 22px 0 ;
    height: 80px;
    outline: none;
    font-size: 38px;
    border: none;
    font-family: "Jost", sans-serif; 
    background-color: transparent;
    color: #FFFFFF;
}
.search-input::placeholder {
    color:#FFFFFF;
    font-size: 45px;
}
